  td.titulo-rel{
    text-align: right;
    vertical-align: bottom;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }

  td.titulo-secao{
    background-color: #a9a9a9;
    border: 0.5px solid #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 10px;
  }

  td.col-header-table {
    background-color: #e3e3e3;
    border: 0.5px solid #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    padding: 5px;
  }

  td.dados-lista {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    padding: 5px;
  }

  td.dados-lista-titulo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: white;
    padding: 5px;
  }

  td.label-ficha {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 7px;
      padding: 5px;
      border-left: 0.5px solid #000000;
      border-top: 0.5px solid #000000;
      border-right: 0.5px solid #000000;
    }

    td.dados-ficha {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 10px;
      padding-left: 5px;
      padding-top: 2px;
      padding-bottom: 3px;
      border-left: 0.5px solid #000000;
      border-right: 0.5px solid #000000;
    }

    td.close-ficha {
        border-top: 0.5px solid #000000;
      }


